---
import NavSideBarLayout from '../../../layouts/NavSideBarLayout.astro'

import { getCollection } from 'astro:content'
import Publication from '@components/Publication.astro'

const allPublications = await getCollection('publications')

const englishPublications = allPublications.filter((x) => x.slug.includes('en/'))
---

<NavSideBarLayout title="Publications">
	<main class="w-full text-white">
		<h1 class="py-5 text-center text-4xl">Publications</h1>
		<div class="flex flex-col flex-wrap place-content-evenly gap-5 md:flex-row">
			{
				englishPublications.map((x) => {
					return (
						<div class="single-publication mx-auto w-[90lvw] rounded-sm md:w-2/5">
							<Publication class:list={'h-full'} input={x} />
						</div>
					)
				})
			}
		</div>
	</main>
</NavSideBarLayout>
