---
import { useTranslations, getLangFromUrl } from "src/i18n/utils";

import { getCollection } from "astro:content";
import Publication from "@components/Publication.astro";
import NavSideBarLayout from "src/layouts/NavSideBarLayout.astro";

const allPublications = await getCollection("publications");
console.log("🚀 ~ allPublications:", allPublications);

const publications = allPublications.filter((x) => x.slug.includes("de/"));
const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<NavSideBarLayout title="Publikationen">
  <main class="text-white">
    <h1 class="text-2xl text-center py-5">Publikationen</h1>
    <div class=" flex flex-wrap place-content-evenly gap-5">
      {
        publications.map((x) => {
          return (
            <div class="single-publication rounded-sm w-2/5">
              <Publication class:list={"h-full"} input={x} />
            </div>
          );
        })
      }
    </div>
  </main>
</NavSideBarLayout>
