---
import Layout from "../../../layouts/Layout.astro";
import { useTranslations, getLangFromUrl } from "src/i18n/utils";

import { getCollection } from "astro:content";
import Publication from "@components/Publication.astro";

const allPublications = await getCollection("publications");
console.log("🚀 ~ allPublications:", allPublications);

const publications = allPublications.filter((x) => x.slug.includes("de/"));
const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<Layout title="Publications">
  <main class="text-white">
    <h1>{t("")}</h1>
    <div class="border-2 flex flex-wrap place-content-evenly gap-5">
      {
        publications.map((x) => {
          return (
            <div class="single-publication border rounded w-1/4">
              <Publication class:list={"h-full"} input={x} />
            </div>
          );
        })
      }
    </div>
  </main>
</Layout>
