---
interface Props {
  title: string;
}
import NavBar from "../components/NavBar.astro";
import { getLangFromUrl } from "../i18n/utils";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <meta http-equiv="refresh" content="0;url=/en/" /> -->

    <title>{title}</title>
    <!-- TODO: this is sadly not working rn -->
    <!-- <link href="/styles/output.css" rel="stylesheet" /> -->
    <!-- this is but, do we need it? -->
    <!-- <link href="/output.css" rel="stylesheet" /> -->
    <ViewTransitions />
  </head>
  <body
    class="min-h-dvh bg-gradient-to-br dark:from-neutral dark:to-neutral-50"
  >
    <NavBar />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --neutral-cool-grey-1: 210 25 7;
    --neutral-cool-grey-2: 210 12 15;
    --navbar-height: 50px;
    --navbar-offset: calc(-1 * var(--navbar-height));
  }
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/OpenSans-VariableFont_wdth,wght.ttf) format("truetype");
  }

  body {
    /* max-width: 100dvw;
    min-height: 100dvh; */
    height: 100%;
    /* overflow: hidden; */
  }

  .navbar-offset {
    margin-top: var(--navbar-offset, -50px);
  }
  /* :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  } */
</style>
