---
import TeachingArticles from "@components/TeachingArticles.astro";
import NavSideBarLayout from "../../layouts/NavSideBarLayout.astro";

---

<NavSideBarLayout title="About me">
  <main class="w-4/5 mx-auto">
    <h1 class="text-5xl text-white text-center my-5">About me</h1>

    <div class="career-and-focus text-white text-4xl tracking-wider max-w-lg">
      I am a <b>Psychologist</b> with a focus on computational psychiatry
    </div>
    <div class="phd text-white max-w-lg">
      I completed my <b>dissertation</b> in computational psychiatry at Humboldt University, specializing in schizophrenia and self-disorders.
    </div>
    <div class="flex wrapper flex-wrap">
      <div class="research-interests max-w-sm bg-c-neutral-50">
        I am interested in the Neurophenomenology of patients with schizophrenia. I am mainly working with VR/AR- Technology, Eye-Tracking, Arduino-prototyping, ECG, and EEG. 
      </div>
      <div class="my-story max-w-sm bg-c-neutral-200">
        I am currently in training to be a Psychotherapist at the IVB Institute for Behavior Therapy Berlin.
      </div>
      
      <div class="my-projects max-w-sm bg-c-neutral-200">
        I am interested in Psychotherapy as well as in clinical research at the Charité University medicine Berlin and Humboldt-University Berlin. You can find some of my work in the section 'Scientific projects'.
        I am working with virtual and augmented reality, Eye-Tracking, Electroencephalography, and Arduino-prototyping.
        Special interest is in psychiatric disorders, especially self-disorders like schizophrenia, but also developmental disorders.
      </div>
      <TeachingArticles class="mt-10" />
    </div>
  </main>

</NavSideBarLayout>
