---
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allAuthors = await getCollection("authors");
console.log("🚀 ~ allAuthors:", allAuthors);

const timAuthor = await getEntry("authors", "tim-j-moeller");
console.log("🚀 ~ timAuthor:", timAuthor);
---

<Layout title="Welcome to Astro.">
  <main>
    <div
      class="relative -z-10 hero-bg w-dvw h-dvh flex bg-gradient-to-br dark:from-slate-900 dark:to-slate-400"
    >
      <img
        class="h-full w-full absolute top-0 left-0"
        src="/brain-scan-with-books.png"
        alt="img of tim j moeller"
      />
    </div>
  </main>
</Layout>

<style>
  .hero-bg {
    height: calc(100dvh - 50px);
  }
</style>
z
