---
interface Props {
  title: string;
  src: string;
  alt: string;
}

const { title, src, alt } = Astro.props;
---

<div
  class="border rounded relative mx-5 my-5 w-32 h-32 md:w-80 md:h-80 bg-slate-100"
>
  <img class="-z-index-50 absolute top-0 left-0" src={src} alt={alt} />
  <div class="text-sm relative w-full h-full">
    <slot />
    <div class="footer-bg bg-gray-700 absolute bottom-0 left-0 opacity-0"></div>
  </div>
</div>
