---
import Xing from "../assets/xing.svg?raw";
import { Image } from "astro:assets";
import tim from "../assets/tim-j-moeller 2.png";
---

<main class="contact-card border-2 border-white">
  <Image alt="Bild Time J Möller" src={tim} />
  <h1>Tim Julian Möller</h1>
  <ul>
    <li><a href="#"><Xing /></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
</main>
