---

---

<footer class="w-full flex">
  <div class="links"></div>
  <div class="social-links">
    <div class="insta">insta</div>
    <div class="github">github</div>
    <div class="linked-in">linked in</div>
  </div>
  <div class="law-pagea"></div>
</footer>
