---

---

<footer class="w-full flex flex-row justify-between bg-slate-100 mt-20">
  <!-- <div class="links"></div> -->

  <div class="social-links">
    <ul class="flex flex-col">
      <li>insta</li>
      <li>github</li>
      <li>linked in</li>
    </ul>
  </div>
  <div class="law-pagea">
    <ul class="flex flex-col">
      <li>Datenschutz</li>
      <li>Impressum</li>
      <li></li>
    </ul>
  </div>
</footer>
