---
import NavSideBarLayout from "../layouts/NavSideBarLayout.astro";
import BusinessCard from "./BusinessCard.astro";

---

  <main class="h-full min-h-dvh flex">
    <div class="right-intro bg-c-black w-[calc(100dvw-16rem)] relative place-content-center">
      <BusinessCard />
    </div>
  </main>
