---
import Xing from "../assets/xing.svg";
import Github from "../assets/github.svg";
import Facebook from "../assets/facebook.svg";
import LinkedIn from "../assets/linkedin.svg";
import Twitter from "../assets/twitter.svg";
import Copyright from "../assets/copyright.svg";
import Home from "../assets/home-1.svg";
import User from "../assets/user.svg";
import BookStudy from "../assets/book-study.svg";
import Message from "../assets/message.svg";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const pathname = new URL(Astro.request.url).pathname;
const splittedPathName = pathname.split("/"); // remove the first "/"
const currentPath = splittedPathName[splittedPathName.length - 1];

const currentYear = new Date().getFullYear()
console.log("🚀 ~ currentYear:", currentYear)
---
<div class="sidebar bg-c-blackish w-60 flex flex-col px-4 float-left h-dvh fixed">
    <h1 class="text-white text-2xl my-5">Tim Julian Möller</h1>
    <nav class="text-xl mt-5">
      <ul class="text-white flex flex-col gap-4">
        <li class="">    
          <a class="flex gap-4" :class={currentPath === "" ? "active" : ""} href={`/${lang}/`}
            >
            <Home class="w-8 h-8 fill-white stroke-white" />
            {t("nav.home")}</a
          ></li>
        <li>
            <a
            class="flex gap-4"
            :class={currentPath === "about" ? "nav-active" : ""}
            href={`/${lang}/about`}>
            <User class="w-8 h-8 fill-white" />
            {t("nav.about")}
          </a>
        </li>
        <li>
            <a
            class="flex gap-4"
            :class={currentPath === "publications" ? "nav-active" : ""}
            href={`/${lang}/publications-projects`}
            >
            <BookStudy class="w-8 h-8 fill-white" />
            
            {t("nav.projects")} & {t("nav.publications")}</a>
        </li>
        <li>      
            <a
            class="flex gap-4"
            :class={currentPath === "contact" ? "nav-active" : ""}
            href={`/${lang}/contact`}>
            <Message class="w-8 h-8 fill-white" />
            
            {t("nav.contact")}</a>
        </li>
      </ul>
    </nav>
    <div class="mt-auto text-white">
      <ul class="flex flex-wrap gap-8 place-content-center">
        <li><a href="#"><Facebook class="fill-white w-8 h-8"/></a></li>
        <li><a href="#"><Xing class="fill-white w-8 h-8" /></a></li>
        <li><a href="#"><LinkedIn class="fill-white w-8 h-8" /></a></li>
        <li><a href="#"><Twitter class="w-8 h-8" /></a></li>
        <li><a href="#"><Github class="w-8 h-8" /></a></li>
      </ul>
      <div class="legal-links my-5 text-center">
        <a href="#">Impressum</a>
      </div>

      <div class="flex justify-center">
        <Copyright class="fill-white" />
        <span class="text-white content-center">{ currentYear }</span>
      </div>
    </div>
</div>