---
import { getCollection } from 'astro:content';
import NavSideBarLayout from "../../../layouts/NavSideBarLayout.astro";
import { getLangAndRawIdFromCollectionId } from 'src/i18n/utils';

export async function getStaticPaths() {
  const posts = await getCollection('publications');  
  const languages = ['en', 'de']; // Define supported languages

  return languages.flatMap((lang) =>
  posts.map((post) => {
    const res = getLangAndRawIdFromCollectionId(post.id)
    return {
      params: { lang: lang, id: res?.id }, // Generate paths for both languages
      props: { post, lang }, // Pass post and lang as props
    }
}));

}

const { post, lang } = Astro.props; // Get post data and language from props
---
<NavSideBarLayout title={post.data.title}>
  <main class="h-full min-h-dvh flex text-white w-4/5 mx-auto">
    <div class="bg-c-black w-[calc(100dvw-16rem)] relative">
      <h1 class="text-2xl text-center my-5">{post.data.title}</h1>
      <article class="text-center my-5">
        <Fragment class:list={"text-center"} set:html={post.body} />

      </article>
      <!-- <button type="button" class="px-5 py-2 bg-c-neutral-500 hover:bg-c-neutral-700 rounded"> -->
        <a class="px-5 py-2 bg-c-neutral-500 hover:bg-c-neutral-700 rounded" href={`/${lang}/publications-projects`}>Back to Publications</a> <!-- Correct back link -->
      <!-- </button> -->
    </div>
  </main>
</NavSideBarLayout>
