---
import { getCollection } from 'astro:content';
import NavSideBarLayout from "../../../layouts/NavSideBarLayout.astro";
import { getLangAndRawIdFromCollectionId } from 'src/i18n/utils';

export async function getStaticPaths() {
  const posts = await getCollection('publications');  
  const languages = ['en', 'de']; // Define supported languages

  const all = languages.flatMap((lang) =>
  posts.map((post) => {
    const res = getLangAndRawIdFromCollectionId(post.id)
    return {
      params: { lang: lang, id: res?.id }, // Generate paths for both languages
      props: { post, lang }, // Pass post and lang as props
    }
}));
  console.log("🚀 ~ getStaticPaths ~ all:", all)
  // getStaticPaths ~ all: [
  // {
  //   params: { lang: 'en', id: 'en/computational-models.mdx' },
  //   props: { post: [Object], lang: 'en' }
  // },
  // {
  //   params: { lang: 'en', id: 'en/arduino-heartbeat-detection.mdx' },
  //   props: { post: [Object], lang: 'en' }
  // },
  // {
  //   params: { lang: 'en', id: 'de/real-time-ecg-analysis.mdx' },
  //   props: { post: [Object], lang: 'en' }
  // },
  // {
  //   params: { lang: 'en', id: 'en/senses-of-agony.mdx' },
  //   props: { post: [Object], lang: 'en' }
  // },
  // {
  //   params: {
  //     lang: 'en',
  //     id: 'en/psychoactive-substances-in-psychotherapy.mdx'
  //   },
  //   props: { post: [Object], lang: 'en' }
  // },
  // {
  //   params: { lang: 'en', id: 'en/real-time-ecg-analysis.mdx' },
  //   props: { post: [Object], lang: 'en' }
  // },
  // {
  //   params: { lang: 'en', id: 'computational-models.mdx' },
  //   props: { post: [Object], lang: 'en' }
  // },
  return all
}

const { post, lang } = Astro.props; // Get post data and language from props
---
<NavSideBarLayout title={post.data.title}>
  <main class="h-full min-h-dvh flex text-white">
    <div class="bg-c-black w-[calc(100dvw-16rem)] relative">
      <h1 class="text-2xl text-center my-5">{post.data.title}</h1>
      <article class="text-center">{post.body}</article>
      <a href={`/${lang}/publications-projects`}>Back to Publications</a> <!-- Correct back link -->
    </div>
  </main>
</NavSideBarLayout>
