---
import NavSideBarLayout from '../layouts/NavSideBarLayout.astro'
import BusinessCard from './BusinessCard-old.astro'
---

<main class="mx-auto flex h-full min-h-lvh lg:w-11/12">
	<div
		class="right-intro relative w-full place-content-center bg-c-black md:w-[calc(100dvw-16rem)]"
	>
		<BusinessCard />
	</div>
</main>
