---
import Brain3D from "@components/Brain3d.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Kontakt">
  <main>
    <h1>Kontakt</h1>

    <Brain3D />
  </main>
</Layout>
