---
import NavSideBarLayout from "src/layouts/NavSideBarLayout.astro";

---

<NavSideBarLayout title="Impressum">
    <div class="wrapper">
        <h1 class="text-3xl">Impressum</h1>
        
    </div>
</NavSideBarLayout>