---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div
      class="relative -z-10 hero-bg w-full flex bg-gradient-to-br dark:from-slate-900 dark:to-slate-400"
    >
      <img
        class="h-full w-full absolute top-0 left-0"
        src="/brain-scan-with-books.png"
        alt="img of tim j moeller"
      />
    </div>
    <div class="h-dvh">
      HELLO
      <button class="btn-blue">Test</button>
    </div>
    <div class="test-star">
      <div class="test-star-bg"></div>
      <img src="/icons/star.svg" alt="" />
      <img src="/icons/star.svg" alt="" />
      <img src="/icons/star.svg" alt="" />
      <img src="/icons/star.svg" alt="" />
      <img src="/icons/star.svg" alt="" />
    </div>

    <svg width="200" height="50" xmlns="http://www.w3.org/2000/svg">
      <!-- Background rectangle (gold color) -->
      <rect width="100%" height="100%" fill="white"></rect>

      <!-- Define a mask for filling based on rating -->
      <mask id="star-mask">
        <!-- Fill up to 60% of the width (for a rating of 3 stars out of 5) -->
        <rect width="89%" height="100%" fill="gold"></rect>
      </mask>

      <!-- Group of stars -->
      <g fill="gold" mask="url(#star-mask)">
        <!-- Star 1 -->
        <polygon
          points="20,10 24,18 32,18 26,24 28,32 20,28 12,32 14,24 8,18 16,18"
        ></polygon>
        <!-- Star 2 -->
        <polygon
          points="60,10 64,18 72,18 66,24 68,32 60,28 52,32 54,24 48,18 56,18"
        ></polygon>
        <!-- Star 3 -->
        <polygon
          points="100,10 104,18 112,18 106,24 108,32 100,28 92,32 94,24 88,18 96,18"
        ></polygon>
        <!-- Star 4 -->
        <polygon
          points="140,10 144,18 152,18 146,24 148,32 140,28 132,32 134,24 128,18 136,18"
        ></polygon>
        <!-- Star 5 -->
        <polygon
          points="180,10 184,18 192,18 186,24 188,32 180,28 172,32 174,24 168,18 176,18"
        ></polygon>
      </g>
      <g fill="transparent" stroke="black">
        <!-- Star 1 -->
        <polygon
          points="20,10 24,18 32,18 26,24 28,32 20,28 12,32 14,24 8,18 16,18"
        ></polygon>
        <!-- Star 2 -->
        <polygon
          points="60,10 64,18 72,18 66,24 68,32 60,28 52,32 54,24 48,18 56,18"
        ></polygon>
        <!-- Star 3 -->
        <polygon
          points="100,10 104,18 112,18 106,24 108,32 100,28 92,32 94,24 88,18 96,18"
        ></polygon>
        <!-- Star 4 -->
        <polygon
          points="140,10 144,18 152,18 146,24 148,32 140,28 132,32 134,24 128,18 136,18"
        ></polygon>
        <!-- Star 5 -->
        <polygon
          points="180,10 184,18 192,18 186,24 188,32 180,28 172,32 174,24 168,18 176,18"
        ></polygon>
      </g>
    </svg>
  </main>
</Layout>

<style>
  .hero-bg {
    height: calc(100dvh - 50px);
  }

  .test-star {
    display: flex;
    /* background-color: gold; */
    width: fit-content;
    position: relative;
  }

  .test-star > img {
    mask-image: url("/icons/star.svg");
    mask-composite: intersect;
    width: 50px;
    height: 50px;
  }

  .test-star .test-star-bg {
    width: 100%;
    background-color: gold;
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
