---
import { getCollection, getEntry } from "astro:content";
// import Intro from "../layouts/Intro.astro";
import IntroHero from "../../components/IntroHero.astro";

---

<IntroHero />

<!-- <Intro title="Welcome to Astro.">
  <main>
    <div
      class="relative -z-10 hero-bg w-dvw h-dvh flex dark:from-slate-900 dark:to-slate-800"
    >
      <div class="intro-name">Hi, my name is Tim Julian Möller</div>
    </div>
  </main>
</Intro> -->
<style>
  .hero-bg {
    /* height: calc(100dvh - 50px); */
  }
</style>
z

