:root {
    --neutral-50: 216 33 97;
    --neutral-100: 214 15 91;
    --neutral-200: 210 16 82;
    --neutral-300: 211 13 65;
    --neutral-400: 211 10 53;
    --neutral-500: 211 12 43;
    --neutral-600: 209 14 37;
    --neutral-700: 209 18 30;
    --neutral-800: 209 20 25;
    --neutral-900: 210 24 16;

    /* --custom-100-dvh: calc() */
}


@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/OpenSans-VariableFont_wdth,wght.ttf) format("truetype");
  }

.nav-offset {
    margin-top: -50px;
}

