@tailwind base;
@tailwind components;
@tailwind utilities;
/* @plugin "@tailwindcss/typography"; */

body {
	/* does this work */
	/* --neutral-cool-grey-1: 210, 25, 7; */
	--neutral-cool-grey-4: 210, 25, 7;
	/* --navbar-height: 50px;

    --navbar-offset: var(var(--navbar-height)); */
}

@layer base {
	@font-face {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/OpenSans-VariableFont_wdth,wght.ttf) format('truetype');
	}

	.nav-active {
		@apply font-bold;
	}

	.nav-offset {
		margin-top: -50px;
	}
}

@layer components {
	.nav-active {
		@apply font-bold;
	}

	.hero-bg {
		@apply h-dvh;
	}
	.btn-blue {
		@apply rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700;
	}
}

@layer utilities {
	.nav-active {
		@apply font-bold;
	}
}

.nav-active {
	@apply font-bold;
}

.active {
	@apply font-bold;
}

@theme {
	--font-sans: 'Roboto','Inter', 'sans-serif';
	/* --font-display: "Oswald", "sans-serif";  */

}